<center>
    <h1><%= PokeApi.get(pokemon: @pokemon_id).name %></h1>
    <img src=<%= PokeApi.get(pokemon: @pokemon_id).sprites.front_default %>
    width = 10% 
    height= 10% />
    
    <p>
        <strong>Weight:</strong>
        <%= PokeApi.get(pokemon: @pokemon_id).weight %>
    </p>
    
    <strong>Types:</strong>
    
    <% @types.each do |type| %>
    <p>
        <%= type.type.name %>
    </p>
    <% end %>

    <strong>Abilities:</strong>
    <% @abilities.each do |ability| %>
    <p>
        <%= ability.ability.name %>
    </p>
    <% end %>

    <strong>Moves:</strong>
    <p><%= @moves[0].move.name%></p>
    <p><%= @moves[1].move.name%></p>
    <p><%= @moves[2].move.name%></p>
    <p><%= @moves[3].move.name%></p>
    
    <h2>Caught Pokemons</h2>
    <% @trainer.pokemons.each do |pokemon| %>
    <p>
      <%= PokeApi.get(pokemon: pokemon.pokemon_id).name %>
    </p>

    <% end %>
    <%= form_with model: [@trainer, @trainer.pokemons.build] do |form| %>
        <div>
          <%= form.hidden_field :pokemon_id, value: @pokemon_id%>

        </div>
        <div>
          <%= form.submit "Next Pokemon" %>
        </div>
      <% end %>
      
</center>